<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8" />
    <title>UNLa</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

</head>

<body>
<!-- Navigation -->
<link href="/css/image1.css" rel="stylesheet"/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">UNLa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="/index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/regado/lista-mediciones">Sensores de humedad</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- MENSAJES -->
<div class="alert alert-success alert-dismissable" th:if="${success != null}">
    <label th:text="${success}"></label>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
    <label th:text="${error}"></label>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
    <label th:text="${warning}"></label>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div class="alert alert-info alert-dismissable" th:if="${info != null}">
    <label th:text="${info}"></label>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
<!-- CONTENIDO -->
<div class="container">
    <h1>Sensores de humedad</h1>
</div>
<div class="container">

    <a class="btn btn-primary btn-sm" th:href="@{/regado/crear-medicion}" title="Crear nueva medicion">Nuevo sensor</a>
    <!-- <span th:text="${id}"></span> -->

    <table class="table table-dark table-borderless">
        <thead>
        <tr>
            <th>Nombre sensor</th>
            <th>Ultima medicion</th>
            <th>Estado</th>
            <th>Fecha y hora de actualizacion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medicion : ${mediciones}">
            <td><span th:text="${medicion.nombre}" /></td>
            <td><span th:text="${medicion.humedadActual}" /></td>
            <td><span th:text="${medicion.estado} ? 'Regando' : 'En reposo'"/></td>
            <td><span th:text="${medicion.updatedAt}" /></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/regado/editar/{id}(id=${medicion.id})}" title="Editar Medicion" >Editar</a>
            </td>
            <td th:if="${medicion.activo}">
                <a class="btn btn-danger btn-sm" th:href="@{/regado/desactivar-sensor/{id}(id=${medicion.id})}" title="Desactivar Sensor"
                   onclick="return confirm('¿Estás seguro de que deseas desactivar el sensor?'); ">Desactivar</a>
            </td>
            <td th:unless="${medicion.activo}">
                <a class="btn btn-success btn-sm" th:href="@{/regado/activar-sensor/{id}(id=${medicion.id})}" onclick="return confirm('¿Estás seguro de que deseas activar el sensor?')">Activar</a>
            </td>

            <!--<td>
                <a class="btn btn-primary btn-sm" th:href="@{/alumbrado/editar-alumbrado/{id}(id=${alumbrado.id})}" title="Editar Alumbrado" >Editar</a>
            </td>
            <td th:if="${alumbrado.activo}">
                <a class="btn btn-danger btn-sm" th:href="@{/alumbrado/desactivar-alumbrado/{id}(id=${alumbrado.id})}"
                   onclick="return confirm('¿Estás seguro de que deseas desactivar el sensor?')">Desactivar</a>
            </td>
            <td th:unless="${alumbrado.activo}">
                <a class="btn btn-success btn-sm" th:href="@{/alumbrado/activar-alumbrado/{id}(id=${alumbrado.id})}"
                   onclick="return confirm('¿Estás seguro de que deseas activar el sensor?')">Activar</a>
            </td>-->

        </tr>
        </tbody>
    </table>

</div>


<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
    <div class="container">
        <p >Grupo 9 - OO2 -2023</p>
    </div>
</footer>

</