body {
	background-image: url(https://cdn.shopify.com/s/files/1/0002/8960/3603/products/Sf6cf78e12d7946048e8fdcd5165a6a04q_1024x1024.jpg?v=1659981531);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}