<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="utf-8" />
	<title>UNLa</title>
	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->

</head>

<body>
	<!-- Navigation -->
	<link href="/css/image3.css" rel="stylesheet"/>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">UNLa</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					
					<li class="nav-item">
						<a class="nav-link" href="/index">Inicio</a>
					</li>
                    <li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/sensorBanio/listaBanios">Sensores de Baños</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
	
	<!-- MENSAJES -->
	<div class="alert alert-success alert-dismissable" th:if="${success != null}">
		<label th:text="${success}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	
	<div class="alert alert-danger alert-dismissable" th:if="${error != null}">
		<label th:text="${error}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	
	<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
		<label th:text="${warning}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	
	<div class="alert alert-info alert-dismissable" th:if="${info != null}">
		<label th:text="${info}"></label>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
	</div>
	
	<!-- CONTENIDO -->
	<div class="container">
		<h1>Vistas de Baños</h1>
	</div>
			<div class="container">
				
				<a class="btn btn-primary btn-sm" th:href="@{/sensorBanio/agregar-sensor}" title="Agregar Nuevo Sensor">Nuevo Sensor</a>
				<!-- <span th:text="${id}"></span> -->
				
				<table class="table table-dark table-borderless">
					<thead>
						<tr>
							<th>Nombre Sensor</th>
							<th>Edificio</th>
							<th>Turno</th>
							<th>Hora Inicial de Limpieza</th>
							<th>Hora Final de Limpieza</th>
							<th>Estado</th>
							<th>Activo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${banios}">
							<td th:text="${b.nombre}" ></td>
							<td th:text="${b.edificio}" ></td>
							<td th:text="${b.turno}" ></td>
						    <td th:text="${b.horaInicialLimpieza}" ></td>
						    <td th:text="${b.horaFinalLimpieza}" ></td>
							<td th:text="${b.estado}" ></td>
							<td><span th:text="${b.activo} ? 'Si' : 'No'" /></td>
							<td>
								<a class="btn btn-info btn-sm" th:href="@{/sensorBanio/editar/{id}(id=${b.id})}" title="Editar Sensor" >Editar</a>
							</td>
							 <td th:if="${b.activo}">
								<a class="btn btn-danger btn-sm" th:href="@{/sensorBanio/desactivar-sensor/{id}(id=${b.id})}" title="Desactivar Sensor"
								onclick="return confirm('¿Estás seguro de que deseas desactivar el sensor?'); ">Desactivar</a>
							</td> 
							<td th:unless="${b.activo}">
							<a class="btn btn-success btn-sm" th:href="@{/sensorBanio/activar-sensor/{id}(id=${b.id})}" onclick="return confirm('¿Estás seguro de que deseas activar el sensor?')">Activar</a>
						   </td>
						   <td>
								<a class="btn btn-warning btn-sm" th:href="@{/sensorBanio/eliminar-sensor/{id}(id=${b.id})}" title="Eliminar Sensor"
								onclick="return confirm('¿Estas seguro de eliminar el sensor?'); ">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
				
			</div>
	
     </body>
</html>